In [1]:
import urllib
import requests
import json 
import pandas as pd

 ## API CONNECTION FOR DATA AUGUMENTATION
 
 #### TO VACCINATION DATA

In [10]:
def Api_connector_data(url):
    '''
    Connects to a given Url of Ontario dataset
    Converts responses and returns a data frame
    '''
    #Using requests to connect to API
    response = requests.get(url)
    
    if response.status_code != 200:
        return f'Url did not return useful response, we have {response.status_code}'
    
    #Loading the response text to a file 
    file = json.loads(response.text)
    
    #Obtaining the 
    records=file['result']['records']
    
    #Converting records to a useful 
    df = pd.json_normalize(records)
    
    return df

In [13]:
### Vaccination dataset

In [11]:
url = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id=8a89caa9-511c-4568-af89-7f2174b4378c&limit=3500'

In [12]:
Api_connector_data(url).to_csv('Vaccinationdata.csv') #Creates a csv for onward processing

In [19]:
Api_connector_data(url).head()

,_id,report_date,previous_day_doses_administered,total_doses_administered,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated
0,1,2020-12-24T00:00:00,NaN,10756,NaN,NaN
1,2,2020-12-30T00:00:00,4595.0,18603,NaN,NaN
2,3,2020-12-31T00:00:00,5463.0,23502,NaN,NaN
3,4,2021-01-01T00:00:00,5415.0,28887,NaN,NaN
4,5,2021-01-02T00:00:00,4305.0,33191,NaN,NaN

In [14]:
### Hospitalization dataset

## Data includes:
* date
* OH region
* current hospitalizations with COVID-19
* current patients in Intensive Care Units (ICUs) due to COVID-related critical Illness
* current patients in Intensive Care Units (ICUs) testing positive for COVID
* current patients in Intensive Care Units (ICUs) no longer testing positive for COVID
* current patients in Intensive Care Units (ICUs) on ventilators due to COVID-related critical illness
* current patients in Intensive Care Units (ICUs) on ventilators testing positive for COVID
* current patients in Intensive Care Units (ICUs) on ventilators no longer testing positive for COVID
This dataset is subject to change. Please review the daily epidemiologic summaries for information on variables, methodology, and technical considerations.

This dataset was created on November 18 and includes daily data from earlier dates. The data for these earlier dates was extracted from the provincial system on November 18, so these values will not match values for these days extracted prior to November 18.

In [15]:
url2 = 'https://data.ontario.ca/en/api/3/action/datastore_search?resource_id=e760480e-1f95-4634-a923-98161cfb02fa&limit=32000'

In [17]:
Api_connector_data(url2).to_csv('hosptalizationdata.csv')

In [22]:
Api_connector_data(url2).head()

,_id,date,oh_region,ICU,ICU_vented,hospitalizations,icu_crci_total,icu_crci_total_vented,icu_former_covid,icu_former_covid_vented
0,1,2020-04-02T00:00:00,CENTRAL,51,39,113,0,0,0,0
1,2,2020-04-03T00:00:00,CENTRAL,57,52,141,0,0,0,0
2,3,2020-04-04T00:00:00,CENTRAL,65,57,143,0,0,0,0
3,4,2020-04-05T00:00:00,CENTRAL,65,55,174,0,0,0,0
4,942,2020-08-30T00:00:00,NORTH,0,0,0,0,0,0,0

In [18]:
## HEALTH CARE WORKERS AFFECTED

In [24]:
df_health=pd.read_csv('data/All case trends data.csv') #Health Care workers infected

In [25]:
df_health.head()

,Date,Public Health Unit,Cases by episode date,Cases rate by episode date,Cases by reported date,Cases rate by reported date,Hospitalizations by episode date,Hospitalizations rate by episode date,Hospitalizations by reported date,Hospalizations rate by reported date,Deaths,Deaths rate
0,15-Jan-20,Ontario,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,16-Jan-20,Ontario,1,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,17-Jan-20,Ontario,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,18-Jan-20,Ontario,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,19-Jan-20,Ontario,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

In [26]:
df_health['Public Health Unit'].unique() #Names of PHU in ONtario

array(['Ontario', 'Algoma Public Health', 'Brant County Health Unit',
       'Chatham-Kent Public Health',
       'City of Hamilton Public Health Services',
       'Durham Region Health Department ', 'Eastern Ontario Health Unit',
       'Grey Bruce Health Unit', 'Haldimand-Norfolk Health Unit',
       'Haliburton, Kawartha, Pine Ridge District Health Unit ',
       'Halton Region Public Health',
       'Hastings Prince Edward Public Health', 'Huron Perth Health Unit',
       'Kingston, Frontenac and Lennox & Addington Public Health',
       'Lambton Public Health',
       'Leeds, Grenville & Lanark District Health Unit',
       'Middlesex-London Health Unit', 'Niagara Region Public Health',
       'North Bay Parry Sound District Health Unit',
       'Northwestern Health Unit', 'Ottawa Public Health',
       'Peel Public Health', 'Peterborough Public Health ',
       'Porcupine Health Unit', 'Public Health Sudbury & Districts',
       'Region of Waterloo Public Health and Emergency Services',
       'Renfrew County and District Health Unit',
       'Simcoe Muskoka District Health Unit ',
       'Southwestern Public Health', 'Thunder Bay District Health Unit',
       'Timiskaming Health Unit', 'Toronto Public Health',
       'Wellington-Dufferin-Guelph Public Health',
       'Windsor-Essex County Health Unit ', 'York Region Public Health'],
      dtype=object)

## Number of bed spacings available as at 2018-2019 IN CANADA

In [28]:
df_bed = pd.read_excel('data/beds-staffed-and-in-operation-2018-2019-en-web.xlsx',sheet_name='BSIO 2018–2019',skiprows=2)

In [29]:
df_bed.head()

,Province,Health region,Hospital name,Type of hospital*,Teaching status,Intensive\nCare,Obstetrics,Pediatrics,Mental Health \nand \nAddictions,Rehabilitation,Long-Term\nCare,Other \nAcute,Total
0,AB,Calgary Zone,Alberta Children’s Hospital,S-Ped,Teaching,15,—,92,12,—,—,8,127
1,AB,Calgary Zone,Canmore General Hospital,"G,E",Non-Teaching,—,—,—,—,—,23,21,44
2,AB,Calgary Zone,Claresholm General Hospital,G,Non-Teaching,—,—,—,—,—,—,16,16
3,AB,Calgary Zone,Covenant Health Mineral Springs Hospital,"G,E",Non-Teaching,—,—,—,—,—,25,22,47
4,AB,Calgary Zone,Didsbury District Health Services,"G,E",Non-Teaching,—,—,—,—,—,21,16,37

In [ ]:
## Covid test by PHU testing across Canada

In [30]:
url4 = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id=8a88fe6d-d8fb-41a3-9d04-f0550a44999f&limit=3500'

In [31]:
Api_connector_data(url4).to_csv('PHUtest.csv')

In [32]:
Api_connector_data(url4).head()

,_id,Date,Algoma_Public_Health_Unit,Brant_County_Health_Unit,Chatham-Kent_Health_Unit,Durham_Region_Health_Department,Eastern_Ontario_Health_Unit,Grey_Bruce_Health_Unit,Haldimand-Norfolk_Health_Unit,"Haliburton,_Kawartha,_Pine_Ridge_District_Health_Unit",...,Simcoe_Muskoka_District_Health_Unit,Southwestern_Public_Health,Sudbury_&_District_Health_Unit,Thunder_Bay_District_Health_Unit,Timiskaming_Health_Unit,Toronto_Public_Health,Wellington-Dufferin-Guelph_Public_Health,Windsor-Essex_County_Health_Unit,York_Region_Public_Health_Services,Total
0,1,2020-03-24T00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,2020-03-25T00:00:00,0.0,1.0,0.0,3.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,17.0,1.0,1.0,5.0,46
2,3,2020-03-26T00:00:00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,21.0,1.0,2.0,5.0,69
3,4,2020-03-27T00:00:00,0.0,0.0,0.0,5.0,0.0,1.0,0.0,14.0,...,4.0,2.0,1.0,0.0,0.0,22.0,0.0,0.0,34.0,124
4,5,2020-03-28T00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [38]:
## Testing Status breakdown

In [39]:
url5 = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id=ed270bb8-340b-41f9-a7c6-e8ef587e6d11&limit=5000005'

In [41]:
Api_connector_data(url5).to_csv('PHU2_test.csv')

# Outbreak data

In [43]:
url6 = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id=66d15cce-bfee-4f91-9e6e-0ea79ec52b3d&limit=10000'

In [45]:
df  = Api_connector_data(url6)

df.head()

,_id,date,outbreak_group,outbreak_subgroup,number_ongoing_outbreaks
0,1,2020-11-01T00:00:00,1 Congregate Care,1 Long-Term Care Homes,73
1,2,2020-11-01T00:00:00,1 Congregate Care,2 Hospitals,21
2,3,2020-11-01T00:00:00,1 Congregate Care,3 Retirement Homes,51
3,4,2020-11-01T00:00:00,2 Congregate Living,18 Short-term accommodations,2
4,5,2020-11-01T00:00:00,2 Congregate Living,4 Group Home/Supportive Housing,31

In [46]:
url7 = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id=36048cc1-3c47-48ff-a49f-8c7840e32cc2&limit=500000'  
#Outbreaks by area

In [47]:
df  = Api_connector_data(url7)

df.head()

,_id,date,phu_name,phu_num,outbreak_group,number_ongoing_outbreaks
0,1,2020-11-01T00:00:00,BRANT COUNTY,2227,4 Workplace,1
1,2,2020-11-01T00:00:00,BRANT COUNTY,2227,1 Congregate Care,2
2,3,2020-11-01T00:00:00,CHATHAM-KENT,2240,5 Recreational,1
3,4,2020-11-01T00:00:00,CHATHAM-KENT,2240,6 Other/Unknown,1
4,5,2020-11-01T00:00:00,CHATHAM-KENT,2240,4 Workplace,1

In [48]:
 url8 = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id=c0c527e2-859a-4103-962d-051cdd459c99&limit=500000'

In [49]:
df  = Api_connector_data(url8)

df.head()

,_id,reported_date,start_date,end_date,school_board_name,school_board_id,schools_invited_to_participate,new_tests_conducted,new_cases_identified,cumulative_conducted_tests,cumulative_cases_identified
0,1,2021-02-26T00:00:00,2021-02-17T00:00:00,2021-02-23T00:00:00,Hamilton-Wentworth Catholic District School Board,B67121,1,60,0,78,0
1,2,2021-02-26T00:00:00,2021-02-17T00:00:00,2021-02-23T00:00:00,Hamilton-Wentworth District School Board,B66141,0,0,0,68,0
2,3,2021-02-26T00:00:00,2021-02-17T00:00:00,2021-02-23T00:00:00,Ottawa Region,R00002,28,1004,0,3440,20
3,4,2021-02-26T00:00:00,2021-02-17T00:00:00,2021-02-23T00:00:00,Peel Region,R00003,56,331,5,424,6
4,5,2021-02-26T00:00:00,2021-02-17T00:00:00,2021-02-23T00:00:00,Sudbury Catholic District School Board,B29033,0,0,0,274,0

In [50]:
url9 = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id=31ad93fc-9afd-46b7-a9e7-0508a24ee330&limit=50000'

In [51]:
df  = Api_connector_data(url9)

df.head()

,_id,Report_Data_Extracted,PHU_Num,PHU,LTC_Homes_with_Active_Outbreak,LTC_Homes_with_Resolved_Outbreak,Confirmed_Active_LTC_Resident_Cases,Confirmed_Active_LTC_HCW_Cases,Total_LTC_Resident_Deaths,Total_LTC_HCW_Deaths
0,1,2020-04-24,2226,Algoma,0,0,0,0,0,0
1,2,2020-04-24,2227,Brant,2,0,28,34,23,0
2,3,2020-04-24,2230,Durham,7,1,243,88,71,0
3,4,2020-04-24,2233,Grey-Bruce,2,0,22,7,0,0
4,5,2020-04-24,2234,Haldimand-Norfolk,0,1,0,0,0,0

In [55]:
## Changes in government advice to residence

In [52]:
 url10 = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id=ce9f043d-f0d4-40f0-9b96-4c8a83ded3f6&limit=50000'

In [54]:
df  = Api_connector_data(url10)

df.head()

,_id,Reporting_PHU,Reporting_PHU_id,Status_PHU,start_date,end_date,PHU_url
0,1,Algoma Public Health Unit,2226,Prevent,2020-11-07T00:00:00,2020-12-25T00:00:00,http://www.algomapublichealth.com/
1,2,Algoma Public Health Unit,2226,Shutdown,2020-12-26T00:00:00,2021-02-15T00:00:00,http://www.algomapublichealth.com/
2,3,Algoma Public Health Unit,2226,Protect,2021-02-16T00:00:00,2021-04-02T00:00:00,http://www.algomapublichealth.com/
3,4,Algoma Public Health Unit,2226,Shutdown,2021-04-03T00:00:00,2021-05-01T00:00:00,http://www.algomapublichealth.com/
4,5,Brant County Health Unit,2227,Protect,2020-11-07T00:00:00,2020-11-15T00:00:00,http://www.bchu.org/

## COVID BREAKDOWN ONTARIO

In [58]:
url11 = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id=455fd63b-603d-4608-8216-7d8647f43350&limit=50000000000000000'

In [60]:
req11 = requests.get(url11)
file11=json.loads(req11.text)
record11=file11['result']['records']

In [61]:
pd.json_normalize(record11)

,_id,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,1,1,2020-06-16T00:00:00,2020-06-25T00:00:00,2020-06-25T00:00:00,2020-06-24T00:00:00,20s,MALE,CC,Resolved,None,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
1,2,2,2020-04-10T00:00:00,2020-04-19T00:00:00,2020-04-18T00:00:00,2020-04-16T00:00:00,60s,FEMALE,NO KNOWN EPI LINK,Resolved,None,2236,Halton Region Health Department,1151 Bronte Road,Oakville,L6M 3Ll,www.halton.ca/For-Residents/Public-Health/,43.413997,-79.744796
2,3,3,2020-04-19T00:00:00,2020-04-20T00:00:00,2020-04-20T00:00:00,2020-04-19T00:00:00,40s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
3,4,4,2020-04-23T00:00:00,2020-05-26T00:00:00,2020-05-26T00:00:00,2020-05-25T00:00:00,30s,FEMALE,CC,Resolved,None,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
4,5,5,2020-06-04T00:00:00,2020-06-05T00:00:00,2020-06-05T00:00:00,2020-06-04T00:00:00,60s,FEMALE,CC,Resolved,None,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473896,473897,473897,2021-04-11T00:00:00,2021-04-21T00:00:00,2021-04-21T00:00:00,2021-04-20T00:00:00,30s,FEMALE,CC,Resolved,None,2244,Middlesex-London Health Unit,50 King Street,London,N6A 5L7,www.healthunit.com,42.981468,-81.254016
473897,473898,473898,2021-04-13T00:00:00,2021-04-21T00:00:00,2021-04-21T00:00:00,2021-04-20T00:00:00,50s,FEMALE,MISSING INFORMATION,Resolved,None,2246,Niagara Region Public Health Department,1815 Sir Isaac Brock Way,Thorold,L2V 4T7,www.niagararegion.ca/health,43.116537,-79.241220
473898,473899,473899,2021-04-19T00:00:00,2021-04-21T00:00:00,2021-04-21T00:00:00,2021-04-20T00:00:00,50s,MALE,CC,Not Resolved,None,2244,Middlesex-London Health Unit,50 King Street,London,N6A 5L7,www.healthunit.com,42.981468,-81.254016
473899,473900,473900,2021-04-20T00:00:00,2021-04-21T00:00:00,2021-04-21T00:00:00,2021-04-20T00:00:00,60s,MALE,NO KNOWN EPI LINK,Not Resolved,None,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
473900,473901,473901,2021-04-16T00:00:00,2021-04-21T00:00:00,2021-04-21T00:00:00,2021-04-20T00:00:00,30s,FEMALE,NO KNOWN EPI LINK,Resolved,None,2244,Middlesex-London Health Unit,50 King Street,London,N6A 5L7,www.healthunit.com,42.981468,-81.254016

In [62]:
#url11c='https://data.ontario.ca/api/3/action/datastore_search?resource_id=455fd63b-603d-4608-8216-7d8647f43350&limit=500000000'

In [63]:
df_cvdrec= Api_connector_data(url11)

df_cvdrec.head()

,_id,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,1,1,2020-06-16T00:00:00,2020-06-25T00:00:00,2020-06-25T00:00:00,2020-06-24T00:00:00,20s,MALE,CC,Resolved,None,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
1,2,2,2020-04-10T00:00:00,2020-04-19T00:00:00,2020-04-18T00:00:00,2020-04-16T00:00:00,60s,FEMALE,NO KNOWN EPI LINK,Resolved,None,2236,Halton Region Health Department,1151 Bronte Road,Oakville,L6M 3Ll,www.halton.ca/For-Residents/Public-Health/,43.413997,-79.744796
2,3,3,2020-04-19T00:00:00,2020-04-20T00:00:00,2020-04-20T00:00:00,2020-04-19T00:00:00,40s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
3,4,4,2020-04-23T00:00:00,2020-05-26T00:00:00,2020-05-26T00:00:00,2020-05-25T00:00:00,30s,FEMALE,CC,Resolved,None,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
4,5,5,2020-06-04T00:00:00,2020-06-05T00:00:00,2020-06-05T00:00:00,2020-06-04T00:00:00,60s,FEMALE,CC,Resolved,None,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893

In [67]:
df_cvdrec.drop(['_id','Row_ID'],axis=1,inplace=True)

In [68]:
df_cvdrec.to_csv('covidnumber.csv') #Covid numbers to csv

## Data Dictionary 
* Row_ID: Identifier for each individual row/record within the dataset. 
* Accurate_Episode_Date : The field uses a number of dates entered in the Integrated Public Health Information System (iPHIS) to provide an approximation of onset date.
* Case_Reported_Date: The date that the case was reported to the local public health unit (PHU).
* Test_Reported_Date: The test reported date as indicated on the laboratory slip.
* Specimen_Date: Set to the earliest specimen date on record for the case, as indicated on the laboratory slip.
* Age_Group: Age group of the patient.
* Client_Gender: Gender information of the patient.
* Case_AcquisitionInfo: Suspected method of exposure to COVID-19, if known.
* Outcome1: Patient outcome.
* Outbreak_Related: Describes whether a confirmed positive case is linked to an outbreak of COVID-19 in any institutional setting.
* Reporting_PHU_ID: Public Health Unit (PHU) ID where confirmed positive case occurred.
* Reporting_PHU: Public Health Unit (PHU) where confirmed positive case occurred.
* Reporting_PHU_Address: Official physical street address of Public Health Unit (PHU).
* Reporting_PHU_City: Official city of Public Health Unit (PHU).
* Reporting_PHU_Postal_Code: Official postal code of Public Health Unit (PHU).
* Reporting_PHU_Website: Official website of Public Health Unit (PHU).
* Reporting_PHU_Latitude: Latitude of Public Health Unit (PHU) physical address for mapping purposes.
* Reporting_PHU_Longitude: Longitude of Public Health Unit (PHU) physical address for mapping purposes.

In [65]:
url11b ='https://data.ontario.ca/en/api/3/action/datastore_search?resource_id=ce9f043d-f0d4-40f0-9b96-4c8a83ded3f6&limit=500000'

In [66]:
df_region_status= Api_connector_data(url11b)

In [69]:
df_region_status.to_csv('region_status.csv')

In [1]:
## UPDATING FILES GOTTEN FROM EXCEL TO GET POPULATION DISTRIBUTION IN ONTARIO

In [70]:
df_pop = pd.read_excel('data/CanadaPopulationBreakdown.xlsx',sheet_name='104',skiprows=1,nrows=24)

In [71]:
df_pop.head(10) ## Population distribution in 2020

,Groupe,Provinces,Unnamed: 2,Unnamed: 3,Québec,Unnamed: 5,Unnamed: 6,Ontario,Unnamed: 8,Unnamed: 9,Provinces.1,Unnamed: 11,Unnamed: 12,Canada1,Unnamed: 14
0,d'âge,de l'Atlantique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,de l'ouest,NaN,NaN,NaN,NaN
1,NaN,n,%,NaN,n,%,NaN,n,%,NaN,n,%,NaN,n,%
2,0-4,103626,5.4,NaN,430250,22.4,NaN,723016,37.6,NaN,655480,34.1,NaN,1921944,100
3,5-9,116000,5.7,NaN,465890,22.8,NaN,762654,37.3,NaN,690194,33.8,NaN,2044603,100
4,10-14,123676,6,NaN,457420,22.1,NaN,792947,38.3,NaN,688814,33.2,NaN,2072100,100
5,15-19,127772,6.1,NaN,426496,20.3,NaN,852405,40.6,NaN,686049,32.7,NaN,2100865,100
6,20-24,145533,5.9,NaN,499370,20.1,NaN,1039661,41.9,NaN,789691,31.8,NaN,2482802,100
7,25-29,145737,5.5,NaN,564669,21.3,NaN,1077433,40.7,NaN,847609,32,NaN,2645240,100
8,30-34,144121,5.4,NaN,548066,20.6,NaN,1041952,39.1,NaN,917232,34.5,NaN,2661723,100
9,35-39,144803,5.5,NaN,578273,22,NaN,992844,37.7,NaN,905039,34.4,NaN,2630680,100

In [52]:
df_pop2 = pd.read_csv('data/98-401-X2016058_English_CSV_data.csv')

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [53]:
df_ont =df_pop2[df_pop2['GEO_NAME'] == 'Ontario']

In [54]:
df_ont.reset_index(drop=True)

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,DIM: Profile of Health Regions (2247),Member ID: Profile of Health Regions (2247),Notes: Profile of Health Regions (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,35,1,Ontario,3.7,4.6,20000,35,"Population, 2016",1,1.0,13448494,...,...
1,2016,35,1,Ontario,3.7,4.6,20000,35,"Population, 2011",2,2.0,12851821,...,...
2,2016,35,1,Ontario,3.7,4.6,20000,35,"Population percentage change, 2011 to 2016",3,NaN,4.6,...,...
3,2016,35,1,Ontario,3.7,4.6,20000,35,Total private dwellings,4,3.0,5598391,...,...
4,2016,35,1,Ontario,3.7,4.6,20000,35,Private dwellings occupied by usual residents,5,4.0,5169174,...,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2242,2016,35,1,Ontario,3.7,4.6,20000,35,Migrants,2243,NaN,2112340,1032715,1079630
2243,2016,35,1,Ontario,3.7,4.6,20000,35,Internal migrants,2244,NaN,1562375,761630,800745
2244,2016,35,1,Ontario,3.7,4.6,20000,35,Intraprovincial migrants,2245,NaN,1380895,672540,708355
2245,2016,35,1,Ontario,3.7,4.6,20000,35,Interprovincial migrants,2246,NaN,181475,89090,92385
2246,2016,35,1,Ontario,3.7,4.6,20000,35,External migrants,2247,NaN,549965,271080,278885

In [56]:
df_pop3 = pd.read_csv('data/98-401-X2016066_English_CSV_data.csv')

In [57]:
df_pop3['GEO_NAME'].unique()

array(['South Glengarry', 'Akwesasne (Part) 59', 'South Stormont',
       'Cornwall', 'South Dundas', 'North Dundas', 'North Stormont',
       'North Glengarry', 'East Hawkesbury', 'Hawkesbury', 'Champlain',
       'Alfred and Plantagenet', 'The Nation / La Nation',
       'Clarence-Rockland', 'Casselman', 'Russell', 'Ottawa',
       'Edwardsburgh/Cardinal', 'Augusta', 'Prescott',
       'Elizabethtown-Kitley', 'Brockville', 'Front of Yonge',
       'Leeds and the Thousand Islands', 'Gananoque', 'Westport',
       'Rideau Lakes', 'Athens', 'Merrickville-Wolford',
       'North Grenville', 'Montague', 'Smiths Falls',
       'Drummond/North Elmsley', 'Tay Valley', 'Perth', 'Beckwith',
       'Carleton Place', 'Mississippi Mills', 'Lanark Highlands',
       'Frontenac Islands', 'Kingston', 'South Frontenac',
       'Central Frontenac', 'North Frontenac', 'Loyalist',
       'Greater Napanee', 'Stone Mills', 'Addington Highlands',
       'Tyendinaga', 'Deseronto', 'Tyendinaga Mohawk Territory',
       'Belleville', 'Quinte West', 'Stirling-Rawdon', 'Centre Hastings',
       'Tweed', 'Madoc', 'Marmora and Lake', 'Tudor and Cashel',
       'Limerick', 'Wollaston', 'Faraday', 'Bancroft', 'Carlow/Mayo',
       'Hastings Highlands', 'Prince Edward County', 'Brighton',
       'Cramahe', 'Hamilton', 'Port Hope', 'Cobourg', 'Alnwick/Haldimand',
       'Alderville First Nation', 'Trent Hills', 'Asphodel-Norwood',
       'Otonabee-South Monaghan', 'Hiawatha First Nation',
       'Cavan Monaghan', 'Peterborough', 'Selwyn',
       'Curve Lake First Nation 35', 'Douro-Dummer',
       'Havelock-Belmont-Methuen', 'North Kawartha', 'Trent Lakes',
       'Kawartha Lakes', 'Pickering', 'Ajax', 'Whitby', 'Oshawa',
       'Clarington', 'Scugog', 'Mississaugas of Scugog Island',
       'Uxbridge', 'Brock', 'Vaughan', 'Markham', 'Richmond Hill',
       'Whitchurch-Stouffville', 'Aurora', 'Newmarket', 'King',
       'East Gwillimbury', 'Georgina',
       'Chippewas of Georgina Island First Nation', 'Toronto',
       'Mississauga', 'Brampton', 'Caledon', 'East Garafraxa', 'Amaranth',
       'Grand Valley', 'Mono', 'Orangeville', 'Mulmur', 'Melancthon',
       'Shelburne', 'Puslinch', 'Guelph', 'Guelph/Eramosa', 'Erin',
       'Centre Wellington', 'Mapleton', 'Minto', 'Wellington North',
       'Oakville', 'Burlington', 'Milton', 'Halton Hills', 'Fort Erie',
       'Port Colborne', 'Wainfleet', 'West Lincoln', 'Pelham', 'Welland',
       'Thorold', 'Niagara Falls', 'Niagara-on-the-Lake',
       'St. Catharines', 'Lincoln', 'Grimsby', 'Haldimand County',
       'New Credit (Part) 40A', 'Six Nations (Part) 40', 'Norfolk County',
       'Brant', 'Brantford', 'North Dumfries', 'Cambridge', 'Kitchener',
       'Waterloo', 'Wilmot', 'Wellesley', 'Woolwich', 'Stratford',
       'Perth South', 'St. Marys', 'West Perth', 'Perth East',
       'North Perth', 'Norwich', 'Tillsonburg', 'South-West Oxford',
       'Ingersoll', 'Zorra', 'East Zorra-Tavistock', 'Woodstock',
       'Blandford-Blenheim', 'Bayham', 'Malahide', 'Aylmer',
       'Central Elgin', 'St. Thomas', 'Southwold', 'Dutton/Dunwich',
       'West Elgin', 'Chatham-Kent', 'Moravian 47', 'Pelee', 'Leamington',
       'Kingsville', 'Essex', 'Amherstburg', 'LaSalle', 'Windsor',
       'Tecumseh', 'Lakeshore', 'St. Clair', 'Walpole Island 46',
       'Dawn-Euphemia', 'Brooke-Alvinston', 'Enniskillen', 'Oil Springs',
       'Petrolia', 'Sarnia 45', 'Sarnia', 'Point Edward',
       'Plympton-Wyoming', 'Lambton Shores', 'Warwick', 'Kettle Point 44',
       'Newbury', 'Southwest Middlesex', 'Strathroy-Caradoc',
       'Chippewas of the Thames First Nation 42',
       'Munsee-Delaware Nation 1', 'Oneida 41', 'Thames Centre',
       'Middlesex Centre', 'London', 'North Middlesex',
       'Adelaide-Metcalfe', 'Lucan Biddulph', 'South Huron', 'Bluewater',
       'Central Huron', 'Goderich', 'Huron East', 'Howick',
       'Morris-Turnberry', 'North Huron', 'Ashfield-Colborne-Wawanosh',
       'South Bruce', 'Huron-Kinloss', 'Kincardine', 'Brockton',
       'Arran-Elderslie', 'Saugeen Shores', 'South Bruce Peninsula',
       "Chief's Point No. 28", 'Saugeen 29', 'Neyaashiinigmiing 27',
       'Northern Bruce Peninsula', 'West Grey', 'Southgate',
       'Grey Highlands', 'Hanover', 'Chatsworth', 'The Blue Mountains',
       'Meaford', 'Georgian Bluffs', 'Owen Sound', 'Adjala-Tosorontio',
       'Clearview', 'New Tecumseth', 'Springwater',
       'Bradford West Gwillimbury', 'Severn', 'Innisfil', 'Ramara',
       'Essa', 'Oro-Medonte', 'Collingwood', 'Barrie',
       'Mnjikaning First Nation 32', 'Orillia', 'Wasaga Beach', 'Tiny',
       'Christian Island 30', 'Christian Island 30A', 'Tay',
       'Penetanguishene', 'Midland', 'Gravenhurst', 'Bracebridge',
       'Lake of Bays', 'Huntsville', 'Muskoka Lakes', 'Georgian Bay',
       'Wahta Mohawk Territory', 'Moose Point 79', 'Highlands East',
       'Minden Hills', 'Algonquin Highlands', 'Dysart et al', 'Arnprior',
       'McNab/Braeside', 'Greater Madawaska',
       'Brudenell, Lyndoch and Raglan', 'Madawaska Valley',
       'Killaloe, Hagarty and Richards', 'Bonnechere Valley',
       'Pikwakanagan (Golden Lake 39)', 'Admaston/Bromley', 'Horton',
       'Renfrew', 'Whitewater Region', 'Pembroke',
       'North Algona Wilberforce', 'Laurentian Valley', 'Petawawa',
       'Laurentian Hills', 'Deep River', 'Head, Clara and Maria',
       'South Algonquin', 'Papineau-Cameron', 'Mattawan', 'Mattawa',
       'Calvin', 'Bonfield', 'Chisholm', 'East Ferris', 'North Bay',
       'West Nipissing / Nipissing Ouest', 'Temagami', 'Bear Island 1',
       'Nipissing 10', 'Nipissing, Unorganized, South Part',
       'Nipissing, Unorganized, North Part', 'Seguin', 'The Archipelago',
       'McMurrich/Monteith', 'Perry', 'Kearney', 'Armour', "Burk's Falls",
       'Ryerson', 'McKellar', 'McDougall', 'Parry Sound', 'Carling',
       'Whitestone', 'Magnetawan', 'Strong', 'Sundridge', 'Joly',
       'Machar', 'South River', 'Powassan', 'Callander', 'Nipissing',
       'Shawanaga 17', 'Parry Island First Nation', 'Henvey Inlet 2',
       'French River 13', 'Dokis 9', 'Magnetewan 1',
       'Parry Sound, Unorganized, North East Part',
       'Parry Sound, Unorganized, Centre Part', 'Tehkummah',
       'Central Manitoulin', 'Assiginack',
       'Northeastern Manitoulin and the Islands', 'Billings', 'Gore Bay',
       'Gordon/Barrie Island', 'Burpee and Mills', 'Cockburn Island',
       'Whitefish River (Part) 4', 'Sucker Creek 23', 'Sheguiandah 24',
       'Wikwemikong Unceded', 'Sheshegwaning 20',
       "M'Chigeeng 22 (West Bay 22)",
       'Manitoulin, Unorganized, West Part',
       'Zhiibaahaasing 19A (Cockburn Island 19A)',
       'French River / Rivière des Français', 'St.-Charles',
       'Markstay-Warren', 'Sables-Spanish Rivers', 'Espanola', 'Baldwin',
       'Nairn and Hyman', 'Killarney', 'Whitefish Lake 6', 'Mattagami 71',
       'Chapleau 74A', 'Duck Lake 76B', 'Chapleau 75', 'Chapleau',
       'Sudbury, Unorganized, North Part',
       'Greater Sudbury / Grand Sudbury', 'Wahnapitei 11', 'Coleman',
       'Latchford', 'Cobalt', 'Harris', 'Temiskaming Shores', 'Hudson',
       'Kerns', 'Harley', 'Casey', 'Brethour', 'Hilliard', 'Armstrong',
       'Thornloe', 'James', 'Charlton and Dack', 'Evanturel', 'Englehart',
       'Chamberlain', 'Matachewan', 'Matachewan 72', 'McGarry',
       'Larder Lake', 'Gauthier', 'Kirkland Lake',
       'Timiskaming, Unorganized, East Part',
       'Timiskaming, Unorganized, West Part', 'Black River-Matheson',
       'Timmins', 'Iroquois Falls', 'Abitibi 70', 'Cochrane',
       'Smooth Rock Falls', 'Fauquier-Strickland', 'Moonbeam',
       'Kapuskasing', 'Val Rita-Harty', 'Opasatika', 'Hearst',
       'Mattice-Val Côté', 'Cochrane, Unorganized, South West Part',
       'Cochrane, Unorganized, North Part', 'Fort Albany (Part) 67',
       'Factory Island 1', 'Constance Lake 92', 'Moose Factory 68',
       'Cochrane, Unorganized, South East Part', 'Flying Post 73',
       'New Post 69A', 'Moosonee', 'Jocelyn', 'Hilton', 'Hilton Beach',
       'St. Joseph', 'Laird', 'Tarbutt and Tarbutt Additional', 'Johnson',
       'Plummer Additional', 'Bruce Mines', 'Thessalon 12', 'Thessalon',
       'Huron Shores', 'Blind River', 'Spanish', 'The North Shore',
       'Elliot Lake', 'Macdonald, Meredith and Aberdeen Additional',
       'Sault Ste. Marie', 'Prince', 'Sagamok', 'Serpent River 7',
       'Mississagi River 8', 'Garden River 14', 'Rankin Location 15D',
       'Wawa', 'Goulais Bay 15A', 'Gros Cap 49', 'Dubreuilville',
       'White River', 'Algoma, Unorganized, South East Part',
       'Algoma, Unorganized, North Part', 'Hornepayne', 'Neebing',
       'Fort William 52', 'Thunder Bay', 'Oliver Paipoonge', 'Gillies',
       "O'Connor", 'Conmee', 'Shuniah', 'Dorion', 'Red Rock', 'Nipigon',
       'Schreiber', 'Terrace Bay', 'Marathon', 'Pic Mobert North',
       'Pic Mobert South', 'Pic River 50', 'Pays Plat 51',
       'Lake Helen 53A', 'Gull River 55', 'Manitouwadge',
       'Ginoogaming First Nation', 'Long Lake 58', 'Rocky Bay 1',
       'Greenstone', 'Aroland 83', 'Lake Nipigon',
       'Ojibway Nation of Saugeen (Savant Lake)', 'Osnaburgh 63A',
       'Thunder Bay, Unorganized', 'Seine River 22A2', 'Whitesand',
       'Lac des Mille Lacs 22A1', 'Atikokan', 'Alberton', 'Fort Frances',
       'La Vallee', 'Emo', 'Chapple', 'Manitou Rapids 11',
       'Long Sault 12', 'Morley', 'Dawson', 'Rainy River',
       'Lake of the Woods', 'Sabaskong Bay (Part) 35C',
       'Big Grassy River 35G', 'Big Island Mainland 93',
       'Saug-a-Gaw-Sing 1', 'Neguaguon Lake 25D', 'Rainy Lake 18C',
       'Agency 1', 'Couchiching 16A', 'Rainy Lake 26A', 'Seine River 23B',
       'Seine River 23A', 'Rainy Lake 17A', 'Rainy Lake 17B',
       'Rainy River, Unorganized', 'Ignace', 'Whitefish Bay 32A',
       'Whitefish Bay 33A', 'Sioux Narrows-Nestor Falls', 'Kenora',
       'Machin', 'Eagle Lake 27', 'Dryden', 'Ear Falls', 'Sioux Lookout',
       'Red Lake', 'Slate Falls', 'Pickle Lake', 'Attawapiskat 91A',
       'Marten Falls 65', 'Fort Hope 64', 'Cat Lake 63C', 'Osnaburgh 63B',
       'Lac Seul 28', 'Wabigoon Lake 27', 'English River 21',
       'Weagamow Lake 87', 'Northwest Angle 33B', 'Wabaseemoong',
       'Sabaskong Bay 35D', 'Shoal Lake 34B2', 'Lake Of The Woods 37',
       'Kenora 38B', 'Poplar Hill', 'Shoal Lake (Part) 39A',
       'Rat Portage 38A', 'Deer Lake', 'Sandy Lake 88',
       'Kitchenuhmaykoosib Aaki 84 (Big Trout Lake)', 'Sachigo Lake 1',
       'Pikangikum 14', 'Fort Severn 89', 'Webequie', 'North Spirit Lake',
       'Lansdowne House', 'Shoal Lake (Part) 40', 'Whitefish Bay 34A',
       'Wabauskang 21', 'Wunnumin 1', 'Summer Beaver', 'Wapekeka 2',
       'The Dalles 38C', 'Kenora, Unorganized', 'Peawanuck', 'Neskantaga',
       'Bearskin Lake', 'Kasabonika Lake', 'Muskrat Dam Lake',
       'Kingfisher Lake 1', 'Wawakapewin (Long Dog Lake)',
       'McDowell Lake', 'Kee-Way-Win'], dtype=object)

In [58]:
a3=df_pop3[df_pop3['GEO_NAME']=='South Glengarry'][:34]

In [59]:
df_pop3.columns

Index(['CENSUS_YEAR', 'GEO_CODE (POR)', 'GEO_LEVEL', 'GEO_NAME', 'GNR',
       'GNR_LF', 'DATA_QUALITY_FLAG', 'CSD_TYPE_NAME', 'ALT_GEO_CODE',
       'DIM: Profile of Census Subdivisions (2247)',
       'Member ID: Profile of Census Subdivisions (2247)',
       'Notes: Profile of Census Subdivisions (2247)',
       'Dim: Sex (3): Member ID: [1]: Total - Sex',
       'Dim: Sex (3): Member ID: [2]: Male',
       'Dim: Sex (3): Member ID: [3]: Female'],
      dtype='object')

In [60]:
a3['DIM: Profile of Census Subdivisions (2247)'].unique()

array(['Population, 2016', 'Population, 2011',
       'Population percentage change, 2011 to 2016',
       'Total private dwellings',
       'Private dwellings occupied by usual residents',
       'Population density per square kilometre',
       'Land area in square kilometres',
       'Total - Age groups and average age of the population - 100% data',
       '0 to 14 years', '0 to 4 years', '5 to 9 years', '10 to 14 years',
       '15 to 64 years', '15 to 19 years', '20 to 24 years',
       '25 to 29 years', '30 to 34 years', '35 to 39 years',
       '40 to 44 years', '45 to 49 years', '50 to 54 years',
       '55 to 59 years', '60 to 64 years', '65 years and over',
       '65 to 69 years', '70 to 74 years', '75 to 79 years',
       '80 to 84 years', '85 years and over', '85 to 89 years',
       '90 to 94 years', '95 to 99 years', '100 years and over',
       'Total - Distribution (%) of the population by broad age groups - 100% data'],
      dtype=object)

In [61]:
brkdn = ['0 to 4 years', '5 to 9 years', '10 to 14 years','15 to 19 years', '20 to 24 years',
       '25 to 29 years', '30 to 34 years', '35 to 39 years',
       '40 to 44 years', '45 to 49 years', '50 to 54 years',
       '55 to 59 years', '60 to 64 years',
       '65 to 69 years', '70 to 74 years', '75 to 79 years',
       '80 to 84 years', '85 to 89 years',
       '90 to 94 years', '95 to 99 years', '100 years and over']

In [62]:
def finder(x,z):
        if item in z:
            return True
        else: 
            return False

In [63]:
a3['BTask'] = map(finder,a3['DIM: Profile of Census Subdivisions (2247)'],brkdn)

In [64]:
df_pop3

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,GNR_LF,DATA_QUALITY_FLAG,CSD_TYPE_NAME,ALT_GEO_CODE,DIM: Profile of Census Subdivisions (2247),Member ID: Profile of Census Subdivisions (2247),Notes: Profile of Census Subdivisions (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,3501005,1,South Glengarry,3.9,2.7,0,TP,3501005,"Population, 2016",1,1.0,13150.00,...,...
1,2016,3501005,1,South Glengarry,3.9,2.7,0,TP,3501005,"Population, 2011",2,2.0,13162.00,...,...
2,2016,3501005,1,South Glengarry,3.9,2.7,0,TP,3501005,"Population percentage change, 2011 to 2016",3,NaN,-0.10,...,...
3,2016,3501005,1,South Glengarry,3.9,2.7,0,TP,3501005,Total private dwellings,4,3.0,5823.00,...,...
4,2016,3501005,1,South Glengarry,3.9,2.7,0,TP,3501005,Private dwellings occupied by usual residents,5,4.0,5300.00,...,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292020,2016,3560104,1,Kee-Way-Win,17.7,20.3,1222,IRI,3560104,Migrants,2243,NaN,20.00,10.00,10.00
1292021,2016,3560104,1,Kee-Way-Win,17.7,20.3,1222,IRI,3560104,Internal migrants,2244,NaN,20.00,10.00,10.00
1292022,2016,3560104,1,Kee-Way-Win,17.7,20.3,1222,IRI,3560104,Intraprovincial migrants,2245,NaN,20.00,10.00,10.00
1292023,2016,3560104,1,Kee-Way-Win,17.7,20.3,1222,IRI,3560104,Interprovincial migrants,2246,NaN,0.00,0.00,0.00
1292024,2016,3560104,1,Kee-Way-Win,17.7,20.3,1222,IRI,3560104,External migrants,2247,NaN,0.00,0.00,0.00

In [65]:
df_pop3.shape

(1292025, 15)

In [66]:
df_pop3.sort_values(by=['DIM: Profile of Census Subdivisions (2247)'])

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,GNR_LF,DATA_QUALITY_FLAG,CSD_TYPE_NAME,ALT_GEO_CODE,DIM: Profile of Census Subdivisions (2247),Member ID: Profile of Census Subdivisions (2247),Notes: Profile of Census Subdivisions (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
1135517,2016,3559053,1,Saug-a-Gaw-Sing 1,8.6,12.1,919,IRI,3559053,"$10,000 to $14,999",783,NaN,x,...,...
609719,2016,3544065,1,Georgian Bay,6.9,10.5,11,TP,3544065,"$10,000 to $14,999",783,NaN,30.00,...,...
454655,2016,3538043,1,Warwick,4.2,6.1,0,TP,3538043,"$10,000 to $14,999",762,NaN,30.00,...,...
205259,2016,3518020,1,Scugog,3.7,5.0,0,TP,3518020,"$10,000 to $14,999",783,NaN,130.00,...,...
1241105,2016,3560076,1,Sachigo Lake 1,11.0,10.7,1212,IRI,3560076,"$10,000 to $14,999",762,NaN,5.00,...,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410489,2016,3537003,1,Leamington,7.5,5.1,100,MU,3537003,Zulu,1536,NaN,0.00,0.00,0.00
1149752,2016,3559065,1,Seine River 23B,NaN,NaN,9999,IRI,3559065,Zulu,1536,NaN,x,x,x
1134023,2016,3559052,1,Big Island Mainland 93,NaN,NaN,9999,IRI,3559052,Zulu,1536,NaN,x,x,x
491381,2016,3540025,1,Central Huron,6.2,5.6,0,MU,3540025,Zulu,1536,NaN,0.00,0.00,0.00
405995,2016,3536029,1,Moravian 47,48.8,34.5,4333,IRI,3536029,Zulu,1536,NaN,0.00,0.00,0.00

In [67]:
dfp = df_pop3[df_pop3['DIM: Profile of Census Subdivisions (2247)'].isin(brkdn)].reset_index(drop=True)

In [68]:
dfp

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,GNR_LF,DATA_QUALITY_FLAG,CSD_TYPE_NAME,ALT_GEO_CODE,DIM: Profile of Census Subdivisions (2247),Member ID: Profile of Census Subdivisions (2247),Notes: Profile of Census Subdivisions (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,3501005,1,South Glengarry,3.9,2.7,0,TP,3501005,0 to 4 years,10,NaN,515.00,275.00,240.00
1,2016,3501005,1,South Glengarry,3.9,2.7,0,TP,3501005,5 to 9 years,11,NaN,620.00,315.00,300.00
2,2016,3501005,1,South Glengarry,3.9,2.7,0,TP,3501005,10 to 14 years,12,NaN,745.00,400.00,345.00
3,2016,3501005,1,South Glengarry,3.9,2.7,0,TP,3501005,15 to 19 years,14,NaN,810.00,445.00,370.00
4,2016,3501005,1,South Glengarry,3.9,2.7,0,TP,3501005,20 to 24 years,15,NaN,665.00,345.00,320.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12070,2016,3560104,1,Kee-Way-Win,17.7,20.3,1222,IRI,3560104,80 to 84 years,28,NaN,0.00,0.00,0.00
12071,2016,3560104,1,Kee-Way-Win,17.7,20.3,1222,IRI,3560104,85 to 89 years,30,NaN,0.00,0.00,0.00
12072,2016,3560104,1,Kee-Way-Win,17.7,20.3,1222,IRI,3560104,90 to 94 years,31,NaN,0.00,0.00,0.00
12073,2016,3560104,1,Kee-Way-Win,17.7,20.3,1222,IRI,3560104,95 to 99 years,32,NaN,0.00,0.00,0.00
12074,2016,3560104,1,Kee-Way-Win,17.7,20.3,1222,IRI,3560104,100 years and over,33,NaN,0.00,0.00,0.00

In [66]:
dfp.columns

Index(['CENSUS_YEAR', 'GEO_CODE (POR)', 'GEO_LEVEL', 'GEO_NAME', 'GNR',
       'GNR_LF', 'DATA_QUALITY_FLAG', 'CSD_TYPE_NAME', 'ALT_GEO_CODE',
       'DIM: Profile of Census Subdivisions (2247)',
       'Member ID: Profile of Census Subdivisions (2247)',
       'Notes: Profile of Census Subdivisions (2247)',
       'Dim: Sex (3): Member ID: [1]: Total - Sex',
       'Dim: Sex (3): Member ID: [2]: Male',
       'Dim: Sex (3): Member ID: [3]: Female'],
      dtype='object')

In [72]:
pdf=dfp[['CENSUS_YEAR','GEO_NAME','DIM: Profile of Census Subdivisions (2247)','Dim: Sex (3): Member ID: [2]: Male','Dim: Sex (3): Member ID: [3]: Female']]

In [73]:
pdf

,CENSUS_YEAR,GEO_NAME,DIM: Profile of Census Subdivisions (2247),Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,South Glengarry,0 to 4 years,275.00,240.00
1,2016,South Glengarry,5 to 9 years,315.00,300.00
2,2016,South Glengarry,10 to 14 years,400.00,345.00
3,2016,South Glengarry,15 to 19 years,445.00,370.00
4,2016,South Glengarry,20 to 24 years,345.00,320.00
...,...,...,...,...,...
12070,2016,Kee-Way-Win,80 to 84 years,0.00,0.00
12071,2016,Kee-Way-Win,85 to 89 years,0.00,0.00
12072,2016,Kee-Way-Win,90 to 94 years,0.00,0.00
12073,2016,Kee-Way-Win,95 to 99 years,0.00,0.00
12074,2016,Kee-Way-Win,100 years and over,0.00,0.00

In [74]:
pdf[pdf['GEO_NAME'] == 'South Glengarry']

,CENSUS_YEAR,GEO_NAME,DIM: Profile of Census Subdivisions (2247),Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,South Glengarry,0 to 4 years,275.00,240.00
1,2016,South Glengarry,5 to 9 years,315.00,300.00
2,2016,South Glengarry,10 to 14 years,400.00,345.00
3,2016,South Glengarry,15 to 19 years,445.00,370.00
4,2016,South Glengarry,20 to 24 years,345.00,320.00
5,2016,South Glengarry,25 to 29 years,265.00,260.00
6,2016,South Glengarry,30 to 34 years,235.00,265.00
7,2016,South Glengarry,35 to 39 years,300.00,340.00
8,2016,South Glengarry,40 to 44 years,365.00,385.00
9,2016,South Glengarry,45 to 49 years,405.00,420.00
10,2016,South Glengarry,50 to 54 years,570.00,595.00
11,2016,South Glengarry,55 to 59 years,640.00,640.00
12,2016,South Glengarry,60 to 64 years,605.00,595.00
13,2016,South Glengarry,65 to 69 years,565.00,515.00
14,2016,South Glengarry,70 to 74 years,400.00,375.00
15,2016,South Glengarry,75 to 79 years,240.00,235.00
16,2016,South Glengarry,80 to 84 years,160.00,135.00
17,2016,South Glengarry,85 to 89 years,70.00,85.00
18,2016,South Glengarry,90 to 94 years,30.00,65.00
19,2016,South Glengarry,95 to 99 years,5.00,15.00
20,2016,South Glengarry,100 years and over,0.00,0.00

In [75]:
pdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12075 entries, 0 to 12074
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   CENSUS_YEAR                                 12075 non-null  int64
 1   GEO_NAME                                    12075 non-null  object
 2   DIM: Profile of Census Subdivisions (2247)  12075 non-null  object
 3   Dim: Sex (3): Member ID: [2]: Male          12075 non-null  object
 4   Dim: Sex (3): Member ID: [3]: Female        12075 non-null  object
dtypes: int64(1), object(4)
memory usage: 471.8+ KB

In [76]:
pdf2=pdf.drop(pdf[pdf['Dim: Sex (3): Member ID: [2]: Male'] == '..'].index).reset_index(drop=True)

In [77]:
pdf2

,CENSUS_YEAR,GEO_NAME,DIM: Profile of Census Subdivisions (2247),Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,South Glengarry,0 to 4 years,275.00,240.00
1,2016,South Glengarry,5 to 9 years,315.00,300.00
2,2016,South Glengarry,10 to 14 years,400.00,345.00
3,2016,South Glengarry,15 to 19 years,445.00,370.00
4,2016,South Glengarry,20 to 24 years,345.00,320.00
...,...,...,...,...,...
11902,2016,Kee-Way-Win,80 to 84 years,0.00,0.00
11903,2016,Kee-Way-Win,85 to 89 years,0.00,0.00
11904,2016,Kee-Way-Win,90 to 94 years,0.00,0.00
11905,2016,Kee-Way-Win,95 to 99 years,0.00,0.00
11906,2016,Kee-Way-Win,100 years and over,0.00,0.00

In [78]:
sorted(pdf2['Dim: Sex (3): Member ID: [3]: Female'])

['0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 ...]

In [79]:
float(pdf2['Dim: Sex (3): Member ID: [3]: Female'][0])

240.0

In [80]:
int(float('10.0'))

10

In [81]:
a='10'

In [82]:
a.isalpha()

False

In [83]:
ind =[]
for i,item in enumerate(pdf2['Dim: Sex (3): Member ID: [3]: Female']):
    if item.isalpha():
        ind.append(i)

In [84]:
pdf2.iloc[11885]

CENSUS_YEAR                                                 2016
GEO_NAME                                           McDowell Lake
DIM: Profile of Census Subdivisions (2247)    100 years and over
Dim: Sex (3): Member ID: [2]: Male                             x
Dim: Sex (3): Member ID: [3]: Female                           x
Name: 11885, dtype: object

In [85]:
pdf3=pdf2.drop(index=ind)

In [86]:
pdf3 = pdf3.reset_index(drop=True)

In [87]:
pdf3

,CENSUS_YEAR,GEO_NAME,DIM: Profile of Census Subdivisions (2247),Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,South Glengarry,0 to 4 years,275.00,240.00
1,2016,South Glengarry,5 to 9 years,315.00,300.00
2,2016,South Glengarry,10 to 14 years,400.00,345.00
3,2016,South Glengarry,15 to 19 years,445.00,370.00
4,2016,South Glengarry,20 to 24 years,345.00,320.00
...,...,...,...,...,...
11272,2016,Kee-Way-Win,80 to 84 years,0.00,0.00
11273,2016,Kee-Way-Win,85 to 89 years,0.00,0.00
11274,2016,Kee-Way-Win,90 to 94 years,0.00,0.00
11275,2016,Kee-Way-Win,95 to 99 years,0.00,0.00
11276,2016,Kee-Way-Win,100 years and over,0.00,0.00

In [88]:
cols =['Dim: Sex (3): Member ID: [2]: Male','Dim: Sex (3): Member ID: [3]: Female']

In [89]:
pdf3[cols]=pdf3[cols].apply(pd.to_numeric)

In [90]:
pdf3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11277 entries, 0 to 11276
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   CENSUS_YEAR                                 11277 non-null  int64
 1   GEO_NAME                                    11277 non-null  object
 2   DIM: Profile of Census Subdivisions (2247)  11277 non-null  object
 3   Dim: Sex (3): Member ID: [2]: Male          11277 non-null  float64
 4   Dim: Sex (3): Member ID: [3]: Female        11277 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 440.6+ KB

In [91]:
pdf3.groupby('GEO_NAME').sum()

,CENSUS_YEAR,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
GEO_NAME,,,
Abitibi 70,42336,75.0,60.0
Addington Highlands,42336,1175.0,1140.0
Adelaide-Metcalfe,42336,1525.0,1445.0
Adjala-Tosorontio,42336,5610.0,5365.0
Admaston/Bromley,42336,1490.0,1430.0
...,...,...,...
Woodstock,42336,19870.0,21045.0
Woolwich,42336,12250.0,12770.0
Wunnumin 1,42336,310.0,285.0
Zhiibaahaasing 19A (Cockburn Island 19A),42336,35.0,30.0
Zorra,42336,4105.0,4020.0

In [92]:
pdf3.groupby('DIM: Profile of Census Subdivisions (2247)').sum()

,CENSUS_YEAR,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
DIM: Profile of Census Subdivisions (2247),,,
0 to 4 years,1082592,357255.0,340045.0
10 to 14 years,1082592,386870.0,367480.0
100 years and over,1082592,535.0,2495.0
15 to 19 years,1082592,416615.0,394810.0
20 to 24 years,1082592,457775.0,436415.0
25 to 29 years,1082592,436340.0,437940.0
30 to 34 years,1082592,420770.0,443980.0
35 to 39 years,1082592,402850.0,439595.0
40 to 44 years,1082592,418370.0,453395.0
45 to 49 years,1082592,453025.0,484205.0
5 to 9 years,1082592,387240.0,368720.0
50 to 54 years,1082592,517030.0,539140.0
55 to 59 years,1082592,482270.0,507170.0
60 to 64 years,1082592,406470.0,439500.0
65 to 69 years,1082592,352450.0,385260.0
70 to 74 years,1082592,250455.0,278135.0
75 to 79 years,1082592,179770.0,213175.0
80 to 84 years,1082592,126745.0,164440.0
85 to 89 years,1082592,73050.0,115420.0
90 to 94 years,1082592,27355.0,61000.0
95 to 99 years,1082592,5150.0,16080.0

In [93]:
pdf3['GEO_NAME'].nunique()

535

In [94]:
pdf3[pdf3['GEO_NAME']== 'Cobalt']

,CENSUS_YEAR,GEO_NAME,DIM: Profile of Census Subdivisions (2247),Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
7686,2016,Cobalt,0 to 4 years,30.0,30.0
7687,2016,Cobalt,5 to 9 years,30.0,35.0
7688,2016,Cobalt,10 to 14 years,25.0,25.0
7689,2016,Cobalt,15 to 19 years,40.0,30.0
7690,2016,Cobalt,20 to 24 years,30.0,25.0
7691,2016,Cobalt,25 to 29 years,25.0,25.0
7692,2016,Cobalt,30 to 34 years,30.0,40.0
7693,2016,Cobalt,35 to 39 years,25.0,30.0
7694,2016,Cobalt,40 to 44 years,20.0,30.0
7695,2016,Cobalt,45 to 49 years,35.0,45.0
7696,2016,Cobalt,50 to 54 years,50.0,55.0
7697,2016,Cobalt,55 to 59 years,55.0,50.0
7698,2016,Cobalt,60 to 64 years,45.0,35.0
7699,2016,Cobalt,65 to 69 years,40.0,40.0
7700,2016,Cobalt,70 to 74 years,30.0,30.0
7701,2016,Cobalt,75 to 79 years,25.0,30.0
7702,2016,Cobalt,80 to 84 years,10.0,15.0
7703,2016,Cobalt,85 to 89 years,10.0,10.0
7704,2016,Cobalt,90 to 94 years,5.0,5.0
7705,2016,Cobalt,95 to 99 years,0.0,0.0
7706,2016,Cobalt,100 years and over,0.0,0.0

In [95]:
pdf3['DIM: Profile of Census Subdivisions (2247)'].unique()

array(['0 to 4 years', '5 to 9 years', '10 to 14 years', '15 to 19 years',
       '20 to 24 years', '25 to 29 years', '30 to 34 years',
       '35 to 39 years', '40 to 44 years', '45 to 49 years',
       '50 to 54 years', '55 to 59 years', '60 to 64 years',
       '65 to 69 years', '70 to 74 years', '75 to 79 years',
       '80 to 84 years', '85 to 89 years', '90 to 94 years',
       '95 to 99 years', '100 years and over'], dtype=object)

In [96]:
pdf3.to_csv('statcanada_population.csv')

In [89]:
## I need to aggregate population descritption 

## Find HEALTH rEgion map and use it tobuild demographic 


## Check out the area covered per region and devide with population 


##